monitor:
  port: 2112
  url: /metrics

system:
  nominatimUrl : localhost
  threads: 5
  dataPerRequest : 10
  nominatimLng : fa

elastic:
  host: localhost
  port: 9090
  password:
  topic: carriot_geo

logger:
  path: ./log.log
database:
  host: localhost
  port: 5432
  user: carriot
  password: Mypass
  db: localbackup
  connMaxLifetime: 0
  maxIdleConns: 10
  maxOpenConns: 10